//@import url('https://fonts.googleapis.com/css?family=Exo+2');
@font-face {
  font-family: 'ExtraBold';
  src: url('fonts/Exo2-ExtraBold.ttf');
}
@font-face {
  font-family: 'ExtraBoldItalic';
  src: url('fonts/Exo2-ExtraBoldItalic.ttf');
}
@font-face {
  font-family: "Bold";
  src: url("fonts/Exo2-Bold.ttf");
}
@font-face {
  font-family: 'Medium';
  src: url("fonts/Exo2-Medium.ttf");
}
.centr{
  width: 1510px;
  margin: 0 auto;
}

.flex_centr{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: white;
  &:hover{
    text-decoration: none;
    color: white;
  }
}
.social{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 141px;

}
.write_us{
  height: 50%;

  .vertical_text{

    transform: rotate(270deg);
    transform-origin:20px bottom;
    font-family: Bold;
    font-size: 12pt;
    color: white;
    width: 300px;
    margin:100% 0

  }
  img{
    margin-right: 10px;
  }

}
header{

  .bg1{
    background-image: url("../img/bg1.png");

  }.bg2{
    background-image: url("../img/bg2.png");
  }

  //background-image: url(../img/header-bg.png);
  background-size: cover;
  .menu{
    margin: 5px 0 0 0 ;
    display: flex;
    align-items: center;
    width: 1480px;

    .logo{
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #c7d8e2;
      height: 57px;
      width: 229px;

    }
  }
  ul{
    list-style: none;
    padding: 0;
    width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .parametr{

    background-color: #a8acb3;
    height: 45px;
    width: 269px;
    display: flex;
    padding: 13px;
    align-items: center;
    justify-content: space-between;
      p{
        text-transform: uppercase;
        font-family: ExtraBold;
        font-size: 12px;
        color: white;
        margin-top: 13px;


      }

  }
  .search{
    list-style: none;


      width: 356px;

      form{ border: 2px solid #c0d3e0;
        display: flex;
        justify-content: space-between;
        background: white;
      }


    input{
      font-family: ExtraBoldItalic;
      font-size: 12px;
      width: 308px;
      height: 41px;

    }

    .button-search{
     background-image: url("../img/search.png");
     background-repeat: no-repeat;
      background-position: center;
      border: none;
      height: 41px;
      width: 47px;
      padding: 9px 13px;
      &:hover{
        background-image: url("../img/search-hover.png");
      }
    }
  }
  .mobile{
    align-self: right;
    display: flex;
    justify-content: end;
    b{
      font-family: ExtraBold;
      font-size: 14px;

    }
  }
  .call{
    align-self: end;
    background-color: #5693b9;
    width: 248px;
    height: 45px;
    text-align: center;
    &:hover{
      background-color: #6a5991;
      a{ text-decoration: none;}
    }

    a{font-family: ExtraBold;
      font-size: 12pt;
      color: white;
      line-height: 45px;
      display: block;

    }
  }
  .menu-button{
    align-self: end;
    height: 45px;
    width: 160px;
    text-align: left;
    a{
      line-height: 45px;
      display: block;
      font-family: Bold;
      font-size: 12pt;
      color: white;
      div{
        text-align: center;
        float: left;
        background-color: #5693b9;
        width: 42px;

      }

    }
  }

}
//КАСТЫЛЬ
.col-6{
  p{margin: 0}
}

.second_block{
  background-image: url("../img/second-row/background2.jpg");


  background-repeat: no-repeat;
  height: 435px;
  .social{

    margin-top: 58px;
  }
  .write_us{
    height: 50%;
    padding-top: 40px;
    .vertical_text{

      transform: rotate(270deg);
      transform-origin:20px bottom;
      font-family: Bold;
      font-size: 12pt;
      color: white;
      width: 300px;
      margin:100% 0

    }
    img{
      margin-right: 10px;
    }

  }


  .col-6{
    margin-left: -15px;
  }
  .first_string{
    margin-top: 58px;
    font-family: ExtraBold;
    font-size: 16pt;
    font-weight: 800;
    color: white;
  }
  .second_string{
    font-family: Medium;
    line-height: 42px;
    font-size: 30pt;
    color: white;
    width: 400px;
    span{
      font-family: ExtraBold;
      font-size: 30pt;

    }

  }
  .therd_string{
    margin-top: 20px;
    line-height: 21px;
    color: white;
    font-family: Bold;
    font-size: 16pt;
    width: 480px;
  }

  .btn_more{
    margin-top: 35px;
    width: 226px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      background-color: #9a89bf;
      a{
        color: white;
      }
    }
    a{
      color: #5d6371;
      font-family: ExtraBold;
      font-size: 12pt;
    }
  }

  .right_block{

    display: flex;
    justify-content: space-between;
    .first_colum{
      margin-top: 32px;

      height:307px;
      width:565px;
      background-image: url("../img/second-row/block_rigt.jpg");
      padding: 20px 34px 0 83px;
      .face-1{display: flex;
        justify-content: space-between;
        p{padding-left:30px ;
          font-family: ExtraBold;
          font-size: 18pt;
          line-height: 28px;
          span{
            color: #5693b9;
          }
        }

      }
      .face-2{
  width: 100%;
        p{
          font-family: Bold;
          font-size: 12pt;
          font-weight: 500;
          line-height: 17px;
          color: #5e6370;
        }
      }
      .face-3{
        margin-top: 30px;
        height: 45px;
        display: flex;
        justify-content: space-between;

        .pdf{
          border:1px solid red;
          background-color: #eff0f1;
          width: 283px;
          height: 100%;


          p{
            margin: 4px 0 0 10px;
            align-self: center;
            font-family: ExtraBold;
            font-size: 10pt;
            color: #5e6370;
            img{
              margin-right: 20px;
            }
          }
        }

        .redir{
          width: 150px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #9a89bf;
          &:hover{
            background-color: #6a5991;
          }
          a{
            color: white;
            font-family: ExtraBold;
            font-size: 12pt;



          }
        }

      }
    }
    .second_colum{
      display: flex;
      flex-direction: column;

      .next_sale{

        transform: rotate(270deg);
        transform-origin: 131px 121px;

        width: 223px;
        height: 32px;
        background-color: #7a69a0;
        border:1px solid #9f93bb;
        a{

        }
      }
      .arrows{
        margin-top: 100%;
        margin-left: 10px;
      }
      .arrow_btn{
        height: 30px;
        width: 32px;
        border: 1px solid white;
        margin-top: 10px;


      }


    }

  }

}
.therd_row{
  margin-top: -50px ;
  background-color: white;
  width: 1454px;

  padding-top: 30px ;


  .therd_row_cetr{
    width: 1230px;
    font-family: ExtraBold;
    font-size: 14pt;
    line-height: 17pt;
    color: #50545e;


  }
  .therd_row_blocs{
    margin-top: 17px ;
    margin-bottom: 45px;
    h5{
      margin-top: 25px;
      color: #6a5991;
      font-size: 18pt;
    }
    p{
      line-height: 14pt;

    }
    .col-3{

      div{
        //height: 104px;

        border-right:1px solid #6a5991;
      }
      .no_border{
        border: none;
      }

    }

    .font_color_blue{
      color: #5693b9;
    }
  }
  img{
    margin-right: 12px;
  }
  .logo_text{
    font-size: 24pt;

    line-height: 25px;
   color: #3d424e;
    span{
      color: #5693b9;
    }


  }
}
.call_back{
  background-image: url("../img/call_back/header-bg.png");
  height: 269px;
  color: white;
  font-family: Bold;
  font-size: 19pt;
  h5{
    margin-top: 50px;
    }
  input::-webkit-input-placeholder{
    color: white;
  }

  input{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    &::-webkit-input-placeholder{
      color: white;
      font-family: Bold;
      font-size: 14pt;
    }
    &::-moz-placeholder{
      color: white;
      font-family: Bold;
      font-size: 14pt;
    }

  }
  form button{
    background-color: #5693b9;
    color: white;
    border: none;
    width: 275px;
    height: 45px;
    font-size: 12pt;
    font-family: ExtraBold;
    &:hover{
      cursor: pointer;
    }
  }
}
.reviews{
  margin-top: 40px;
 // padding-bottom: 55px;
  .reviews_heder{
    width: 1230px;
    margin-bottom: 55px;
  }
  .col-4{
    border-right: 1px solid #cccccc;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
    &:hover{
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
      filter: none; /* IE 6-9 */
      button{
        background-color: #5693b9;
        cursor: pointer;
        color: white;
      }
      p{
        color: #50545e;
      }
      h5{
        color: #5693b9;
      }
      address{
        color:  #456d86;;
      }
      .reviews_date p{
        color: #d7dce3;
      }

    }

  }

  h2{
    font-family: ExtraBold;
    font-size: 24pt;
    color: #3d424e;
    margin-bottom: 0;
    margin-right: 15px;

  }
  a{
    color: #7d8391;
  }

  .reviews_date{
    font-family: ExtraBold;
    font-size: 12pt;
    color: #d7dce3;
    border-bottom:5px solid #d7dce3 ;


  }
  img{
    margin-bottom: 60px;
    margin-top: 55px;

  }
  section{
    font-family: ExtraBold;


    h5{
      font-size: 18pt;
      color: #818e9c
        }
    address{
      font-size: 14pt;
      color: #9fa8b2;

    }
    p{
      font-family: Bold;
      font-size: 14pt;
      line-height: 14pt;
      margin-bottom: 25px;
      color: #70737a;
    }
  }
  button{
    //background-color: #e8ebf0;
    background-color: #e8ebf0;
    color: #87909a;
    border: none;
    width: 275px;
    height: 45px;
    font-size: 12pt;
    font-family: ExtraBold;
    &:hover{
      background-color: #5693b9;
      cursor: pointer;
      color: white;
    }
  }
  .arrow_btn_up{
    width: 32px;
    height: 30px;
    background-image: url("../img/reviews/arrow_up.png");
  }
  .arrow_btn_down{
    width: 32px;
    height: 30px;
    background-image: url("../img/reviews/arrow_down.png");
  }

}
.row_partners{
  border-top: 2px solid #bcc5ce;
  margin-top: 55px;
  height: 127px;
  img{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
  &:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
    filter: none; /* IE 6-9 */
  }
  }
}
.about_us{
  background-image: url("../img/footer/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 369px;
  .col-6{
    color: white;
  }

  p{
    font-size: 16pt;
  font-family: Bold;
  }
  h3{
    font-family: Medium;
    font-size: 24pt;
    span{
      font-family: ExtraBold;
    }
  }
  .contact{
    font-family: Bold;
    font-size: 16pt;
  }
  button{
    height: 45px;
    color: #5d6371;
    background-color: white;
    width: 226px;
    font-family: ExtraBold;
    font-size: 12pt;
  }
}
.reset{
margin: 0;
  padding: 0;
}
