@font-face {
  font-family: 'ExtraBold';
  src: url("fonts/Exo2-ExtraBold.ttf"); }
@font-face {
  font-family: 'ExtraBoldItalic';
  src: url("fonts/Exo2-ExtraBoldItalic.ttf"); }
@font-face {
  font-family: "Bold";
  src: url("fonts/Exo2-Bold.ttf"); }
@font-face {
  font-family: 'Medium';
  src: url("fonts/Exo2-Medium.ttf"); }
.centr {
  width: 1510px;
  margin: 0 auto; }

.flex_centr {
  display: flex;
  justify-content: center;
  align-items: center; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    text-decoration: none;
    color: white; }

.logo {
  background-color: white;
  border: 2px solid #c7d8e2;
  height: 57px;
  width: 229px; }

.parametr {
  background-color: #a8acb3;
  height: 45px;
  display: flex;
  padding: 13px; }
  .parametr div {
    height: 29px;
    width: 29px;
    background-color: #818791;
    margin-right: 8px; }
  .parametr p {
    text-transform: uppercase;
    font-family: ExtraBold;
    font-size: 12pt;
    color: white;
    line-height: 15pt;
    letter-spacing: 0;
    margin: 0; }

.call {
  background-color: #5693b9;
  width: 248px;
  height: 45px;
  text-align: center; }
  .call:hover {
    background-color: #6a5991; }
    .call:hover a {
      text-decoration: none;
      padding: 0; }
  .call a {
    font-family: ExtraBold;
    font-size: 12pt;
    color: white;
    line-height: 45px;
    display: block;
    padding: 0; }

.mobile {
  align-self: right;
  display: flex;
  justify-content: end; }
  .mobile b {
    font-family: ExtraBold;
    font-size: 14px; }

.copyright {
  font-size: 12pt;
  font-family: Bold; }

.menu-button {
  background-color: #a8acb3;
  align-self: end;
  height: 45px;
  text-align: left; }
  .menu-button a {
    line-height: 45px;
    display: block;
    font-family: Bold;
    font-size: 12pt;
    color: white; }
    .menu-button a:hover {
      text-decoration: none;
      color: white; }
    .menu-button a div {
      text-align: center;
      float: left;
      background-color: #5693b9;
      width: 42px; }

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 141px; }

.write_us {
  height: 50%; }
  .write_us .vertical_text {
    transform: rotate(270deg);
    transform-origin: 20px bottom;
    font-family: Bold;
    font-size: 12pt;
    color: white;
    width: 300px;
    margin: 100% 0; }
  .write_us img {
    margin-right: 10px; }

.bg1 {
  background-image: url("../img/bg1.png"); }

.bg2 {
  background-image: url("../img/bg2.png"); }

header {
  background-size: cover; }
  header .menu {
    margin: 5px 0 0 0;
    display: flex;
    align-items: center;
    width: 1480px; }
    header .menu .logo {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #c7d8e2;
      height: 57px;
      width: 229px; }
  header ul {
    list-style: none;
    padding: 0;
    width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .parametr {
    background-color: #a8acb3;
    height: 45px;
    width: 269px;
    display: flex;
    padding: 13px;
    align-items: center;
    justify-content: space-between; }
    header .parametr p {
      text-transform: uppercase;
      font-family: ExtraBold;
      font-size: 12px;
      color: white;
      margin-top: 13px; }
  header .search {
    list-style: none;
    width: 356px; }
    header .search form {
      border: 2px solid #c0d3e0;
      display: flex;
      justify-content: space-between;
      background: white; }
    header .search input {
      font-family: ExtraBoldItalic;
      font-size: 12px;
      width: 308px;
      height: 41px; }
    header .search .button-search {
      background-image: url("../img/search.png");
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      height: 41px;
      width: 47px;
      padding: 9px 13px; }
      header .search .button-search:hover {
        background-image: url("../img/search-hover.png"); }
  header .mobile {
    align-self: right;
    display: flex;
    justify-content: end; }
    header .mobile b {
      font-family: ExtraBold;
      font-size: 14px; }
  header .call {
    align-self: end;
    background-color: #5693b9;
    width: 248px;
    height: 45px;
    text-align: center; }
    header .call:hover {
      background-color: #6a5991; }
      header .call:hover a {
        text-decoration: none; }
    header .call a {
      font-family: ExtraBold;
      font-size: 12pt;
      color: white;
      line-height: 45px;
      display: block; }
  header .menu-button {
    background-color: #a8acb3;
    align-self: end;
    height: 45px;
    width: 160px;
    text-align: left; }
    header .menu-button a {
      line-height: 45px;
      display: block;
      font-family: Bold;
      font-size: 12pt;
      color: white; }
      header .menu-button a div {
        text-align: center;
        float: left;
        background-color: #5693b9;
        width: 42px; }

.col-6 p {
  margin: 0; }

.second_block {
  background-image: url("../img/second-row/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 435px; }
  .second_block .social {
    margin-top: 58px; }
  .second_block .write_us {
    height: 50%;
    padding-top: 40px; }
    .second_block .write_us .vertical_text {
      transform: rotate(270deg);
      transform-origin: 20px bottom;
      font-family: Bold;
      font-size: 12pt;
      color: white;
      width: 300px;
      margin: 100% 0; }
    .second_block .write_us img {
      margin-right: 10px; }
  .second_block .col-6 {
    margin-left: -15px; }
  .second_block .first_string {
    margin-top: 58px;
    font-family: ExtraBold;
    font-size: 16pt;
    font-weight: 800;
    color: white; }
  .second_block .second_string {
    font-family: Medium;
    line-height: 42px;
    font-size: 30pt;
    color: white;
    width: 400px; }
    .second_block .second_string span {
      font-family: ExtraBold;
      font-size: 30pt; }
  .second_block .therd_string {
    margin-top: 20px;
    line-height: 21px;
    color: white;
    font-family: Bold;
    font-size: 16pt;
    width: 480px; }
  .second_block .btn_more {
    margin-top: 35px;
    width: 226px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .second_block .btn_more:hover {
      background-color: #9a89bf; }
      .second_block .btn_more:hover a {
        color: white; }
    .second_block .btn_more a {
      color: #5d6371;
      font-family: ExtraBold;
      font-size: 12pt; }
  .second_block .right_block {
    display: flex;
    justify-content: space-between; }
    .second_block .right_block .first_colum {
      margin-top: 32px;
      height: 307px;
      width: 565px;
      background-image: url("../img/second-row/block_rigt.png");
      padding: 20px 34px 0 83px; }
      .second_block .right_block .first_colum .face-1 {
        display: flex;
        justify-content: space-between; }
        .second_block .right_block .first_colum .face-1 p {
          padding-left: 30px;
          font-family: ExtraBold;
          font-size: 18pt;
          line-height: 28px; }
          .second_block .right_block .first_colum .face-1 p span {
            color: #5693b9; }
      .second_block .right_block .first_colum .face-2 {
        width: 100%; }
        .second_block .right_block .first_colum .face-2 p {
          font-family: Bold;
          font-size: 12pt;
          font-weight: 500;
          line-height: 17px;
          color: #5e6370; }
      .second_block .right_block .first_colum .face-3 {
        margin-top: 30px;
        height: 45px;
        display: flex;
        justify-content: space-between; }
        .second_block .right_block .first_colum .face-3 .pdf {
          border: 1px solid red;
          background-color: #eff0f1;
          width: 283px;
          height: 100%; }
          .second_block .right_block .first_colum .face-3 .pdf p {
            margin: 4px 0 0 10px;
            align-self: center;
            font-family: ExtraBold;
            font-size: 10pt;
            color: #5e6370; }
            .second_block .right_block .first_colum .face-3 .pdf p img {
              margin-right: 20px; }
        .second_block .right_block .first_colum .face-3 .redir {
          width: 150px;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #9a89bf; }
          .second_block .right_block .first_colum .face-3 .redir:hover {
            background-color: #6a5991; }
          .second_block .right_block .first_colum .face-3 .redir a {
            color: white;
            font-family: ExtraBold;
            font-size: 12pt; }
    .second_block .right_block .second_colum {
      display: flex;
      flex-direction: column; }
      .second_block .right_block .second_colum .next_sale {
        transform: rotate(270deg);
        transform-origin: 131px 121px;
        width: 225px;
        height: 32px;
        background-color: #7a69a0;
        border: 1px solid #9f93bb; }
        .second_block .right_block .second_colum .next_sale a {
          font-family: Bold;
          font-size: 11pt;
          letter-spacing: 0;
          color: white;
          text-decoration: none; }
      .second_block .right_block .second_colum .arrows {
        margin-top: 100%;
        margin-left: 10px; }
      .second_block .right_block .second_colum .arrow_btn {
        height: 30px;
        width: 32px;
        border: 1px solid white;
        margin-top: 10px; }

.therd_row {
  margin-top: -50px;
  background-color: white;
  width: 1454px;
  padding-top: 30px; }
  .therd_row .therd_row_cetr {
    width: 1230px;
    font-family: ExtraBold;
    font-size: 14pt;
    line-height: 17pt;
    color: #50545e; }
  .therd_row .therd_row_blocs {
    margin-top: 17px;
    margin-bottom: 45px; }
    .therd_row .therd_row_blocs h5 {
      margin-top: 25px;
      color: #6a5991;
      font-size: 18pt; }
    .therd_row .therd_row_blocs p {
      line-height: 14pt; }
    .therd_row .therd_row_blocs .col-3 div {
      border-right: 1px solid #6a5991; }
    .therd_row .therd_row_blocs .col-3 .no_border {
      border: none; }
    .therd_row .therd_row_blocs .font_color_blue {
      color: #5693b9; }
  .therd_row img {
    margin-right: 12px; }
  .therd_row .logo_text {
    font-size: 24pt;
    line-height: 25px;
    color: #3d424e; }
    .therd_row .logo_text span {
      color: #5693b9; }

.call_back {
  background-image: url("../img/call_back/header-bg.png");
  height: 269px;
  color: white;
  font-family: Bold;
  font-size: 19pt; }
  .call_back h5 {
    margin-top: 50px; }
  .call_back input::-webkit-input-placeholder {
    color: white; }
  .call_back input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    color: white; }
    .call_back input::-webkit-input-placeholder {
      color: white;
      font-family: Bold;
      font-size: 14pt; }
    .call_back input::-moz-placeholder {
      color: white;
      font-family: Bold;
      font-size: 14pt; }
  .call_back form button {
    background-color: #5693b9;
    color: white;
    border: none;
    width: 275px;
    height: 45px;
    font-size: 12pt;
    font-family: ExtraBold; }
    .call_back form button:hover {
      cursor: pointer; }

.reviews {
  margin-top: 40px; }
  .reviews .reviews_heder {
    width: 1230px;
    margin-bottom: 55px; }
  .reviews .col-4 {
    border-right: 1px solid #cccccc;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */ }
    .reviews .col-4:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
      filter: none;
      /* IE 6-9 */ }
      .reviews .col-4:hover button {
        background-color: #5693b9;
        cursor: pointer;
        color: white; }
      .reviews .col-4:hover p {
        color: #50545e; }
      .reviews .col-4:hover h5 {
        color: #5693b9; }
      .reviews .col-4:hover address {
        color: #456d86; }
      .reviews .col-4:hover .reviews_date p {
        color: #d7dce3; }
  .reviews h2 {
    font-family: ExtraBold;
    font-size: 24pt;
    color: #3d424e;
    margin-bottom: 0;
    margin-right: 15px; }
  .reviews a {
    color: #7d8391; }
  .reviews .reviews_date {
    font-family: ExtraBold;
    font-size: 12pt;
    color: #d7dce3;
    border-bottom: 5px solid #d7dce3; }
  .reviews img {
    margin-bottom: 60px;
    margin-top: 55px; }
  .reviews section {
    font-family: ExtraBold; }
    .reviews section h5 {
      font-size: 18pt;
      color: #818e9c; }
    .reviews section address {
      font-size: 14pt;
      color: #9fa8b2; }
    .reviews section p {
      font-family: Bold;
      font-size: 14pt;
      line-height: 14pt;
      margin-bottom: 25px;
      color: #70737a; }
  .reviews button {
    background-color: #e8ebf0;
    color: #87909a;
    border: none;
    width: 275px;
    height: 45px;
    font-size: 12pt;
    font-family: ExtraBold; }
    .reviews button:hover {
      background-color: #5693b9;
      cursor: pointer;
      color: white; }
  .reviews .arrow_btn_up {
    width: 32px;
    height: 30px;
    background-image: url("../img/reviews/arrow_up.png"); }
  .reviews .arrow_btn_down {
    width: 32px;
    height: 30px;
    background-image: url("../img/reviews/arrow_down.png"); }

.row_partners {
  border-top: 2px solid #bcc5ce;
  margin-top: 55px;
  height: 127px; }
  .row_partners img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    /* IE 6-9 */ }
    .row_partners img:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
      filter: none;
      /* IE 6-9 */ }

.about_us {
  background-image: url("../img/footer/bg3.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  /*background-repeat: no-repeat;
  background-size: cover;
  height: 369px;*/ }
  .about_us .col-6 {
    color: white; }
  .about_us p {
    font-size: 16pt;
    font-family: Bold; }
  .about_us h3 {
    font-family: Medium;
    font-size: 24pt; }
    .about_us h3 span {
      font-family: ExtraBold; }
  .about_us h4 {
    font-family: ExtraBold;
    font-size: 22pt;
    color: #5693b9;
    margin-bottom: 0; }
  .about_us .contact {
    font-family: Bold;
    font-size: 16pt; }
  .about_us button {
    height: 45px;
    color: #5d6371;
    background-color: white;
    width: 226px;
    font-family: ExtraBold;
    font-size: 12pt; }
  .about_us .vizit_card {
    height: 300px;
    width: 500px;
    background-color: white; }
    .about_us .vizit_card p {
      font-family: Bold;
      font-size: 14pt;
      color: #5e6370;
      line-height: 17pt;
      padding-left: 15px;
      letter-spacing: 0; }

.reset {
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
